.App {
    background-color: #72A1BF;
    padding: 5px;
    height: 100%;
}

.body__wrap {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body__header {
    height: 20vh;
    background-color: #074770;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
}

.body__body {
    background-color: #F2FAFF;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.body__formElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__formlabel {
    color: #A5C0D1;
}

.body__formBtn {
    color: #074770;
    width: 125px;
    background-color: #72A1BF;
    border-radius: 50%;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
}

.body__showBtn {
    align-items: baseline;
    color: #FFFFFF;
    width: 90%;
    background-color: #074770;
    border-radius: 50%;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
}

.header__btn {
    text-decoration-style: none;
}

.body__list {
    height: 30vh;
}

.body__coordinates {
    display: flex;
    justify-content: space-evenly;
}

.map__div {
    height: 100%;
    width: 100%;
    position: relative;
}